body{
    background-color: lightblue;
}
#centrado{
    text-align: center;
}
p{
    font-family: Verdana;
    font-style: italic;
    font-size: 20px;
}
h1{
    color: red;
}
h3{
    font-family: impact,sans-serif;
    text-decoration: underline;
}

.responsivo{
    display: flex;
    flex-direction: column;
}
.imagen img{
    width: 400; height: 300px;
    display: block;
    margin: auto;
}
@media (max-width: 400px){
    body, .responsivo, .div.imagen img{
        width: 100%;
    }
}